---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


---

##Peer Reviewed Articles

**Waite, B.**, Yacovone, A., & Snedeker, J. (2025). Case Clozed: Young Children Can Explicitly Predict Upcoming Words in a Naturalistic, Story-based Cloze Task. *Journal of Child Language*, 1–25. doi:10.1017/S0305000925100251

Yacovone, A., **Waite, B.**, Levari, T., & Snedeker, J. (2024). Let them eat ceke: An electrophysiological study of form-based prediction in rich naturalistic contexts. *Journal of Experimental Psychology: General*. https://doi.org/10.1037/xge0001677



##Conference Talks

**Waite, B.**, Yacovone, A., Levari, T., & Snedeker, J. (November 2025). *The development of prediction during naturalistic listening: ERP evidence for improved top-down processing with age and language ability.* Conference talk at 50th Boston University Conference on Language Development, Boston University, Boston, MA, USA.






